<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Upload a file in Django 1.5 using Dropzone.js</title>
		{% load staticfiles %}
		<link href="{% static 'main/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
	</head>
	<body>

		<!-- IMPORTANT enctype attribute! -->
		<form class="dropzone" action="{% url "main:home" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
		</form>
		<button id="submit-all">
			Submit all files
		</button>

		<script src="{% static 'main/js/dropzone.js' %}"></script>
		<script type="text/javascript">
			Dropzone.options.myDropzone = {

				// Prevents Dropzone from uploading dropped files immediately
				autoProcessQueue : false,

				init : function() {
					var submitButton = document.querySelector("#submit-all")
					myDropzone = this;

					submitButton.addEventListener("click", function() {
						myDropzone.processQueue();
						// Tell Dropzone to process all queued files.
					});

					// You might want to show the submit button only when
					// files are dropped here:
					this.on("addedfile", function() {
						// Show submit button here and/or inform user to click it.
					});

				}
			};
		</script>
	</body>
</html>
